raw_data/
opensmile/
.vscode/
.idea/
cmumosei_highlevel/
cmumosei_labels/
cmumosei_raw/
recordings/
node_modules/
word2vec_models/
cross_bert/
__pycache__/
online_test/
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
google_cloud_key.json
