raw_data/
opensmile/
.vscode/
.idea/
cmumosei_highlevel/
cmumosei_labels/
cmumosei_raw/
recordings/
node_modules/
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
__pycache__/
google_cloud_key.json
word2vec_models/
Cross-Modal-BERT/